In [1]:
import pandas as pd

In [3]:
try:
    df = pd.read_csv('Startup_Dataset.csv')
    print("Dataset loaded successfully!")
except FileNotFoundError:
    print("Error: The CSV file was not found. Check the file name and location.")

Dataset loaded successfully!

In [4]:
print(f"Dataset Shape: {df.shape}")

Dataset Shape: (968, 9)

In [5]:
print("\n--- First 5 Rows ---")
display(df.head())

--- First 5 Rows ---

,Name,Country,Description,Launch Date,Founders,Revenue Year 1,Revenue Year 2,Revenue Year 3,Current Status
0,SpaceX,USA,Aerospace manufacturer and space transport.,3/14/2002,Elon Musk,$0,$0,$0,Successful
1,Stripe,USA,Online payment processing.,9/29/2011,"Patrick Collison, John Collison",$0,$0,$10M,Successful
2,Airbnb,USA,Vacation rentals and homestays.,8/1/2008,"Brian Chesky, Joe Gebbia, Nathan Blecharczyk",$0,$1M,$8.4M,Successful
3,Uber,USA,Ride-hailing and food delivery.,3/1/2009,"Travis Kalanick, Garrett Camp",$0,$0,$0.5M,Successful
4,Canva,Australia,Graphic design platform.,1/1/2013,"Melanie Perkins, Cliff Obrecht, Cameron Adams",$0,$1M,$2M,Successful

In [6]:
print("\n--- Column Info and Data Types ---")
df.info()

--- Column Info and Data Types ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968 entries, 0 to 967
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            968 non-null    object
 1   Country         968 non-null    object
 2   Description     968 non-null    object
 3   Launch Date     968 non-null    object
 4   Founders        968 non-null    object
 5   Revenue Year 1  968 non-null    object
 6   Revenue Year 2  968 non-null    object
 7   Revenue Year 3  968 non-null    object
 8   Current Status  968 non-null    object
dtypes: object(9)
memory usage: 68.2+ KB